body {
    background-image: url(chrysanthemum.jpg);
    background-repeat: no-repeat;
    height: 0;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
header{
    margin: 0;
    width: 100%;
    height: 6.5em;
    background-color: rgba(240, 238, 142, 0.692);

}
header h1 {
    color: rgb(231, 231, 226);
    text-align: center;
    padding-top: 30px;
}
@media screen and (min-width:480px){
    header h1 {
        color: rgb(231, 231, 226);
        text-align: center;
        padding-top:30px;
        padding-left: -80px;
    }
}
#btn1.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(315deg);
    transform: translateY(20px) rotate(315deg);
  }
#btn1.active span:nth-of-type(2) {
    opacity: 0;
  }
#btn1.active span:nth-of-type(3) {
    -webkit-transform: translateY(-22px) rotate(-315deg);
    transform: translateY(-22px) rotate(-315deg);
  }

.btn-trigger {
    position: relative;
    top: -80px;
    left: 0;
    width: 50px;
    height: 45px;
  }
.btn-trigger span {
    position: absolute;
    left: 30px;
    width: 100%;
    height: 4px;
    background-color: rgb(7, 1, 43);

  }
.btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
.btn-trigger span:nth-of-type(1) {
    top: 0;
  }
.btn-trigger span:nth-of-type(2) {
    top: 20px;
  }
.btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }
.btn {
    display: block;
    width: 100%;
    background: rgba(82, 71, 129, 0.74);
    color: rgba(16, 5, 75, 0.897);
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}
.btn:hover{
	background: #05013fb4;
	color: rgba(235, 164, 72, 0.993);
	transition: 0.4s;
}
@media screen and (min-width:480px){
    .btn {
        display: block;
        width: 80%;
        background: rgba(82, 71, 129, 0.74);
        color: rgba(16, 5, 75, 0.897);
        font-weight: bold;
        margin-top: 25px;
        margin-left: 40px;
        border-radius: 5px;
    }
}
#navi {
    position: absolute;
	top:30px;
	right:30px;
	z-index: 99;
	width:120px;
	line-height: 40px;
	text-align: center;
}
menu{
	display: none;
	position: absolute;
	top:98px;
	width: 100%;
	background: rgb(153, 199, 226);
	left: 0;
}
menu ul{
	padding: 0;
    position: relative;
}
menu ul li{
	color: white;
    background: #81d0cb;
    line-height: 5;
    padding: 0.5em 0.5em 0.5em 2em;
    border-bottom: 2px solid white;
    list-style-type: none!important;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
a {text-decoration: none;}

main {display: flex;}
.nav {           
    flex-flow: column;
    box-sizing: border-box;
    font-size: 2.8em;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
}
.parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top:400px;
  }
.img-bg-01 {
    background-image: url('crystals.jpg');
  }
@media screen and (min-width:480px){
    .img-bg-01 {
        background-image: url('crystals.jpg');
        height: auto;
        width: 480px;
      }
}
.img-bg-02 {
    background-image: url('precious.jpg');
  }
@media screen and (min-width:480px){
    .img-bg-02 {
        background-image: url('precious.jpg');
        height: auto;
        width: 480px;
      }
  }
h2{
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    font-size: 1em;
    font-weight:bold;
    color: rgba(37, 22, 122, 0.692);
    text-align: left;
    padding-left: 1rem;
}
p{ padding-left:20px;}
@media screen and (min-width:480px){
    p{ width: 480px;}
}
.iyasi{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top:400px;
    margin-bottom: 400px;
}
.parallax-bg p{
    color:rgb(234, 228, 241);
  }
.parallax-bg p:hover{
    color : #0e0464;
  }
.iyasi p{
    color:rgb(234, 228, 241);
  }
.iyasi p:hover{
    color : #c70f55;
  }
small {
    color: darkkhaki;
    font-size: 24px;
    width: 100%;
    height: 100px;
    text-align: center;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #174a5c91;
    color: rgb(183, 184, 128);
    text-align: center;
}
ul.footer-menu li {
    display: inline;
    }